@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --CRed-color: #e31b22;
    --CBlue-color: #00539b;
    --CBlue-dark-color: #063a68;
    --black-color: black;
    --background-color: rgb(27, 27, 27);
    --lightgrey-color: rgb(167, 162, 162);
    --white-color: white;
    --grey-color: #555756;
    --basically-black: #0a0a0a;
    --bold-font-weight: bold;
    --darkred: #c00424;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}




/*****************************/
/* Navbar Start*/
/*****************************/

header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.48s ease;
    padding-left: 2%;
}

header.sticky {
    background: var(--black-color);
    padding: 15px 100px;
}

header .menu {
    height: 5dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
    transition-property: right;
}

/* Navbar Buttons Start*/
header .menu a {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0px 30px 0px 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s ease;
}

header .menu .first-button{
    /* margin-left: 500px; */
}

header .menu a:hover {
    background: var(--CRed-color);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.3s ease;
    color: var(--white-color);
    transition: 0.3s ease;
}

/* Mobile View Buttons */
header .nav-btn {
    color: var(--white-color);
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* Navbar Buttons End*/

/*****************************/
/* Navbar End*/
/*****************************/

.section-main {
    position: relative;
    width: 100%;
    height: 100dvh;
    background-image: url("https://muralsyourway.vtexassets.com/arquivos/ids/236304/Columbus-Ohio-Skyline-Mural-Wallpaper.jpg?v=638165404917430000");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    text-align: center;
}

#main-section {
    margin: 10px 5px 5px 5px;
    padding: 5px;
    background-color: var(--background-color);
}

.main {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: gold;

}

.main2 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: blue;

}

.main3 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: yellow;

}

.main4 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: orange;

}

.main5 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: green;

}

.main6 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: red;
}

.main7 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: purple;

}

.main8 {
    height: 100dvh;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    background-color: pink;
}

/* .sub-section {
    margin: 10px 10px 10px 10px;
    text-align: center;
    height: 50dvh;
    background-color: aqua;
    padding: 10px;
} */

/********************************/
/* Image Overlay effect Start*/
/********************************/

.main .about{
    background: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    margin: 5px 5px 5px 5px;
}
.main .about h1{
    font-size: 2.5rem;
    margin-bottom: 4.5rem;
}
.main .about-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
}
.main .about-cards{
    margin: 10px; 
    height: 425px;
    width: 410px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.15s ease;
}

.main .about-cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.main .about-cards:hover{
    transform: scale(1.05);
    transition: .8s ease;
}

.main .overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 95%);
    border-radius: 5px;
    /* change this to fix overlay */
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1.5s ease;
  }

  .main .about-cards .overlay h2 {
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 80%;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--white-color);
    text-align: center;
  }

  .main .about-cards .overlay p {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--lightgrey-color);
    text-align: center;
  }
  
  .main .about-cards .overlay a {
    margin-top: 10px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    background: var(--CRed-color);
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    transition: 0.45s ease;
  }
/* 
  .about-cards:hover img {
    transform: scale(1.0);
  } */

  .main .about-cards:hover .overlay {
    height: 165%;
    transition: 1.35s ease;
  }
  
  .main .about-cards a:hover {
    transform: scale(1.1);
    transition: 0.45s ease;
    background-color: var(--darkred);
  } 


/* 
.card-container{

}

.card{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 425px;
    width: 410px;
    display: flex;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: 0.5s ease-out;
}

.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 95%);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1.5s ease;
  }

  .card .overlay h3 {
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--white-color);
    text-align: center;
  }
  
  .card .overlay a {
    margin-top: 10px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    background: var(--CRed-color);
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    transition: 0.45s ease;
  }

  .card:hover img {
    transform: scale(1.2);
  }

  .card:hover .overlay {
    height: 165%;
    transition: 1.35s ease;
  }
  
  .card a:hover {
    transform: scale(1.1);
    transition: 0.45s ease;
    background-color: var(--darkred);
  }  */

/* 
.overlay-wrapper {
    padding-right: 75px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  #card-area {
    padding: 50px 0;
    margin: 0px 0px 0px 20px;
  }
  
  .box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  }
  
  .overlay-box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 425px;
    width: 410px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .overlay-boxr h3 {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--white-color);
  }
  
  .overlay-boxr p {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    color: var(--lightgrey-color);
    padding: 10px;
  }
  
  .overlay-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: 0.5s ease-out;
  }
  
  .overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, black 95%);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1.5s ease;
  }
  
  .overlay h3 {
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 80%;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--white-color);
    text-align: center;
  }
  
  .overlay a {
    margin-top: 10px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    background: var(--CRed-color);
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    transition: 0.45s ease;
  }
  
  .overlay-box:hover img {
    transform: scale(1.2);
  }
  
  .overlay-box:hover .overlay {
    height: 165%;
    transition: 1.35s ease;
  }
  
  .overlay-box a:hover {
    transform: scale(1.1);
    transition: 0.45s ease;
    background-color: var(--darkred);
  } */

/* .about-cards{
    display: block;
    margin: 5px 5px 5px 55px;
    padding: 5px;
    height: 30dvh;
    width: 25dvh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
} */


/* @media screen and (max-height:1200px) {
    .box-area {
      grid-gap: 175px;
    }
  }


@media screen and (max-width: 600px) {
    .overlay-wrapper {
    }
  
    .overlay-box {
      width: 425px;
    }
  
    .overlay h3 {
      font-size: 20px;
      font-weight: 800;
    }
  
    .overlay p {
      font-size: 16px;
    }
  
    .overlay-wrapper .section-titles h3 {
    }
  
  } */

/* Navbar Media Query */
@media(max-width: 1060px) {
    header .nav-btn {
      display: block;
    }
  
    header .menu {
      position: fixed;
      background: var(--black-color);
      flex-direction: column;
      /*width: 400px; */
      height: 100dvh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: all 0.5s ease-out;
      transition-property: right;
    }
  
    header .menu.active {
      right: 0;
      /* filter: blur(5px); */
    }
  
    header .menu .close-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    header .menu a {
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
  }